@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navbar-menu {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
