@import './breakpoints';
@import './theme';


.mat-sidenav {
  width: 360px;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100%;
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }
}
.version-info {
  font-size: 8pt;
  float: right;
  padding: 8px;
}

.set-padding {
  padding-left: 25%;
  padding-right: 20%;

  @media (max-width: 767px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}
